<div>
  <form id="search-box">
    GitHub User:<input type="text" id="github_user" />
    Github Repo:<input type="text" id="github_repo" />
    <button id="search-button" >FIND GEMS</button>
  </form>
</div>

<%= @repo.repo_name %>

<div class="gems">
  <% @repo.gemms.each do |gemm| %>
  <div class="gem">

    <% end %>
  </div>


