<div>
  <form id="search-box">
    GitHub User:<input type="text" id="github_user" />
    Github Repo:<input type="text" id="github_repo" />
    <button id="search-button" >FIND GEMS</button>
  </form>
</div>

<h1><%= @repo.repo_name %></h1>

<div class="gems">
  <h5>Gems</h5>
  <%= render partial: "gemms/gemm", collection: @repo.gemms %>
</div>