<h1>Ace Test — Editor#index</h1>

 <pre id="editor">def foo(items)
  items.each { |item| puts "Ace Rocks #{item}" }
end
</pre>
    
 <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" charset="utf-8"></script>
 <script>
   var editor = ace.edit("editor");
   editor.getSession().setUseWorker(false);
   editor.setTheme("ace/theme/monokai");
   editor.getSession().setMode("ace/mode/ruby");
</script>