// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  overflow: hidden;
}
    
#editor { 
  height: 1080;
  width: 1440;
  margin: 0;
  position: absolute;
  top: 20;
  bottom: 100;
  left: 0;
  right: 0;
}