/*------Header------*/
body {
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  background-color: #9B59B6;
  display: block;
}

a {
  text-decoration: none;
  color: #ECF0F1;
}

#background-header {
  width: 100%;
  height: 70px;
  background-color: #95A5A6;
  position: absolute;
}

#dynamic-header {
  float: right;
}

#background-sub-header {
  margin: 0 auto;
  width: 100%;
  height: 35px;
  background-color: #7F8C8D;
  display: block;
  position: absolute;

}

.sub-header {
  margin: 0 auto;
  width: 1200px;
  height: 35px;
  background-color: #7F8C8D;
  display: block;
  position:absolute;
}

#logo {
  font-size: 50px;
  color: #ECF0F1;
  float: left;
  padding: 25px;
}

#logo span {
  font-weight: 300;
}

.login-text {
  float: right;
  font-size: 30px;
  font-weight: 200;
}

/*-----Body-----*/

.section-reset {
width: 100%;
height: 80px;
background-color: #3498DB;
margin-top:500px;
display:block;
position:relative;
}
/*------experimental section-------*/
.canvas {
  width: 1000px;
  height: 1000px;
  background-color: yellow;
  margin:auto;

}

.page {
  display: inline-block;
  margin: 0;

}

.r1c1 {
  width: 300px;
  height: 200px;
  background-color:red;
}
.r1c2 {
  width: 300px;
  height: 200px;
  background-color:green;
}
.r1c3 {
  width: 300px;
  height: 200px;
  background-color:blue;
}

















/*------end experimental section-------*/
.main-search {
  width: 850px;
  margin: auto;
  margin-top: 80px;
}

label {
  float:left;
  height: 80px;
  width: 100px;
  background-color: #FC6042;
  color: #7F8C8D;
  text-align: center;
}

input[type=submit] { 
  display: block;
  background-color: #FC6042;
  color: #7F8C8D;
  border-radius: 0px;
  height: 80px;
  width: 200px;
  margin-top: 100px;
  margin-left: 300px;
  position: absolute;
}

#github_user {
 
  float: left;
  background-color: #ECF0F1;
  display: absolute;
  width: 300px;
  height: 80px;
  margin-right: 20px;
}



#github_repo {
  background-color: #ECF0F1;
  float: left;
  display: absolute;
  width: 300px;
  height: 80px;
  margin-right: 20px;
}

#header {
  margin: 0px;
  width: 1200px;
  height: 70px;
  background-color: #95A5A6;
  position: relative;
}


.circle {
  height: 30px;
  width: 30px;
  border-radius: 200px;
  /*background-color: #2ECC71;*/
  background: #FC6042;

  margin:20px;
  float:left;
}
.h-left-vertical-line {
  height: 70px;
  width: 5px;
  float: left;
  border-left: 1px solid #7F8C8D;
  margin-right: 5px;
}

.h-right-vertical-line {
  height: 70px;
  width: 5px;
  float: right;
  border-left: 1px solid #7F8C8D;
  margin-right: 5px;
}

.nav_button {
  border-radius: 5px;
  font-size: 30px;
  margin: 0px;
  float: right;
  width: 150px;
  padding: 20px 0px;
}

.nav_button a {
  color: #ECF0F1;
}
  .nav_button a:hover{
    color: #FC6042;
  }

#peace-of-mind {
  height: 500px;
  width: 100%;
  display: block;
}

#main-content {
  width: 400px;
  height: 800px;
  position: absolute;
  margin: auto;
}

#repo-name {
  width: 100%;
  position: absolute;
  color: #7F8C8D;
  font-size: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  float: left;
} 

#repo-info {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;

}

.main_nav {
  background-color: blue;
}

