body {
  margin: 0 auto;
  font-family: 'Helvetica Neue';
  background: #ECF0F1;
  display: block;
}

a {
  text-decoration: none;
  color:#ECF0F1;
}

#background-header {
  width: 100%;
  height: 70px;
  background-color: #95A5A6;
  position: absolute;
}

#dynamic-header {
  float:right;
}

#header {
  margin: 0px;
  width: 1200px;
  height: 70px;
  background-color: #95A5A6;
  position: relative;
}

#background-sub-header {
  margin: 0 auto;
  width: 100%;
  height: 35px;
  background-color: #7F8C8D;
  display: block;
  position:absolute;

}

.sub-header {
  margin: 0 auto;
  width: 1200px;
  height: 35px;
  background-color: #7F8C8D;
  display: block;
  position:absolute;

}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 200px;
  /*background-color: #2ECC71;*/
  background: #FC6042;

  margin:20px;
  float:left;
}
.h-left-vertical-line {
  height: 70px;
  width: 5px;
  float: left;
  border-left: 1px solid #7F8C8D;
  margin-right: 5px;
}

.h-right-vertical-line {
  height: 70px;
  width: 5px;
  float: right;
  border-left: 1px solid #7F8C8D;
  margin-right: 5px;
}

#logo {
  font-size: 50px;
  color: #ECF0F1;
  float:left;
  padding: 25px;
}

#logo span{
  font-weight: 300;
}




.login-text {
  float: right;
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  padding: 20px;

}

.nav_button {
  border-radius: 5px;
  margin: 10px;
  float: right;
  width: 250px;
}

#main-content {
  width:400px;
  height: 800px;
  position: absolute;
  margin:auto;
}

#repo-name {
  width: 100%;
  position: absolute;
  color: #7F8C8D;

  font-size: 40px;
  /*hack solution, fix please*/
  display: block;
  margin: 0 auto;
  margin-top: 155px;
  text-align: center;
  float: left;
  /*header + sub-header = 105*/
} 

#repo-info {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;

}

*/