<!DOCTYPE html>
<html>
<head >
  <title>Git See</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/gitsee.css">
</head>
<body>
  <div id="background-header"></div>
  <div id="header">
    <div class="circle"></div>
    <div class="h-left-vertical-line"></div>
    <span id="logo">Git<span>See</span></span>
    <span id="h-filler"></span>
    <!--    this section will change with user -->
    <span id="dynamic-header">
      <div class="h-right-vertical-line"></div>
      <span class="login-text"><a href="#">Log in</a></span>
      <div class="h-right-vertical-line"></div>
      <span class="login-text"><a href="#">Sign up</a></span>
      <div class="h-right-vertical-line"></div>
    </span>
  </div>


  </body>
  </html>
