<!DOCTYPE html>
<html>

<head >
  <title>Git See</title>

  <!--   <link rel="stylesheet" type="text/css" href="grid.css"> -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
  <div id="container">
    <div id="header">
      <h1>Git<span id='see'>See</span></h1>

      <nav >
        <a href="#">Login </a>
        <a href="#"> Sign up</a>
      </nav>
    </div>
    <form>
      <input type="search"></input>
       <input type="submit" value="search"></input>
    </form>
    <div class="repo-name"> Tibbon/AwesomeBits</div>

    <ul class="repo-info">
      <li>starred: 4 </li>
      <li>forked: 7 </li>
      <li>created: 10.20.2013</li>
      <li>last updated: 10.24.2013</li>
    </ul>

    <div class="gems">
      <!-- @repo.gemms.each do |gemm| -->
      <div class="gem" id="gem-name" >Pry</div>
      <!-- each link -->
      <div class="gem-resource">
          <div class="gem-voting">
          <span id="up_votes">+</span>
          <span id="total_votes">5</span>
          <span id="down_votes">-</span>
          </div>
          <div><a href="#"  class='resource-link'>http://resource_link.org/</a>
          </div>
      </div>
    </div>

  </body>
  </html>
